Dear #{@user.name}
You have received a new vote for #{@movie.title}
- if @vote == "like"
  Someone likes it! So cool!
- else
  Sadly, someone hates it! Well hate is a strong word, we meant, they don't like it so much!
Kind regards